<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      <a href="" class="list-group-item list-group-item-action">Home</a>
      <a href="#!/create" class="list-group-item list-group-item-action">Add Post</a>
    </div>
  </div>
  <div class="col-md-10" ng-controller="postCtrl">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Created Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="post in posts.info">
          <th>{{post.id}}</th>
          <td>{{post.description}}</td>
          <td>{{post.published_on}}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm">View</button>
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
