<h1>{{homeCtrl.message}}</h1>
<div>
    Why do we use it?
    It is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout.
    The point of using Lorem Ipsum is that it has a more-or-less
    normal distribution
</div>
<ul>
    <li>Lorem Ipsum has been the industry's standard dumm</li>
    <li>Lorem Ipsum has been the industry's standard dumm</li>
    <li>Lorem Ipsum has been the industry's standard dumm</li>
    <li>Lorem Ipsum has been the industry's standard dumm</li>
</ul>
<fieldset>
    <legend>Home</legend>
    Custom data 1  : {{homeCtrl.homeCustomData1}}
    <br/>
    Custom data 2 : {{homeCtrl.homeCustomData2}}
</fieldset>
<fieldset>
    <legend>Courses:</legend>
    Custom data 1  : {{homeCtrl.coursesCustomData1}}
    <br/>
    Custom data 2 : {{homeCtrl.coursesCustomData2}}
</fieldset>