<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.content {
			margin-left: 40%;
			width: 200px;
			border: 1px solid black;
			font-family: Arial;
			font-size: large;
			padding: 5px;
		}
	</style>
	 <script src="../angular-1.7.8/angular.js"></script>
</head>
<body ng-app="demoModule">
	<div ng-controller="demoController">
		<button ng-click="scrollTo('bottom')" id="top" style="margin-left: 45%;">Goto bottom of the page</button>
	<div class="content">
		Lorem Ipsum is simply dummy text of the printing and 
		typesetting industry. Lorem Ipsum has been the industry's 
		standard dummy text ever since the 1500s, when an unknown 
		printer took a galley of type and scrambled it to make a type
		 specimen book. It has survived not only five centuries, 
		 but also the leap into electronic typesetting, remaining 
		 essentially unchanged. It was popularised in the 1960s with 
		 the release of Letraset sheets containing Lorem Ipsum passages, 
		 and more recently with desktop publishing software like Aldus 
		 PageMaker including versions of Lorem Ipsum.
		 Lorem Ipsum is simply dummy text of the printing and 
		typesetting industry. Lorem Ipsum has been the industry's 
		standard dummy text ever since the 1500s, when an unknown 
		printer took a galley of type and scrambled it to make a type
		 specimen book. It has survived not only five centuries, 
		 but also the leap into electronic typesetting, remaining 
		 essentially unchanged. It was popularised in the 1960s with 
		 the release of Letraset sheets containing Lorem Ipsum passages, 
		 and more recently with desktop publishing software like Aldus 
		 PageMaker including versions of Lorem Ipsum.
		  specimen book. It has survived not only five centuries, 
		 but also the leap into electronic typesetting, remaining 
		 essentially unchanged. It was popularised in the 1960s with 
		 the release of Letraset sheets containing Lorem Ipsum passages, 
		 and more recently with desktop publishing software like Aldus 
		 PageMaker including versions of Lorem Ipsum.
		 Lorem Ipsum is simply dummy text of the printing and 
		typesetting industry. Lorem Ipsum has been the industry's 
		standard dummy text ever since the 1500s, when an unknown 
		printer took a galley of type and scrambled it to make a type
		 specimen book. It has survived not only five centuries, 
		 but also the leap into electronic typesetting, remaining 
		 essentially unchanged. It was popularised in the 1960s with 
		 the release of Letraset sheets containing Lorem Ipsum passages, 
		 and more recently with desktop publishing software like Aldus 
		 PageMaker including versions of Lorem Ipsum.
		 Lorem Ipsum is simply dummy text of the printing and 
		typesetting industry. Lorem Ipsum has been the industry's 
		standard dummy text ever since the 1500s, when an unknown 
		printer took a galley of type and scrambled it to make a type
		 specimen book. It has survived not only five centuries, 
		 but also the leap into electronic typesetting, remaining 
		 essentially unchanged. It was popularised in the 1960s with 
		 the release of Letraset sheets containing Lorem Ipsum passages, 
		 and more recently with desktop publishing software like Aldus 
		 PageMaker including versions of Lorem Ipsum.
		  specimen book. It has survived not only five centuries, 
		 but also the leap into electronic typesetting, remaining 
		 essentially unchanged. It was popularised in the 1960s with 
		 the release of Letraset sheets containing Lorem Ipsum passages, 
		 and more recently with desktop publishing software like Aldus 
		 PageMaker including versions of Lorem Ipsum.
	</div>
	<button ng-click="scrollTo('top')" id="bottom" style="margin-left: 45%;">Goto Top of the page</button>

	</div>
	</body>
<script src="script.js" type="text/javascript"></script>
</html>